{% extends "emails/base.html" %}

{% block title %}Reset Your Password - {{ app_name }}{% endblock %}

{% block header %}Reset Your Password{% endblock %}

{% block content %}
    <p>Hello,</p>
    
    <p>We received a request to reset the password for your {{ app_name }} account. If you made this request, please click the button below to set a new password:</p>
    
    <p style="text-align: center;">
        <a href="{{ reset_url }}" class="button">Reset Password</a>
    </p>
    
    <p>If you didn't request a password reset, you can safely ignore this email. Your password will not be changed unless you use the link above to create a new one.</p>
    
    <p>For security reasons, this link will expire in 1 hour.</p>
    
    <p>If you're having trouble clicking the button, copy and paste this link into your browser:</p>
    <p><a href="{{ reset_url }}" style="word-break: break-all;">{{ reset_url }}</a></p>
    
    <p>Thanks,<br>The {{ app_name }} Team</p>
{% endblock %}
